$primaria: #2e2f3a;
$secundaria: #4646de;
$branco: #fff;
$preto: #202020;
$hover: #2e2f3a;

$primeiraCor: #4646de;
$segundaCor: #5757e3;
$terceiraCor: #6d6ddb;
$quartaCor: #5050e0;
$quintaCor: #3e3ec9;

// npm install -D sass

$fontFamily: "Poppins", sans-serif;

%dflex {
  display: flex;
  align-items: center;
}
%alinhamento {
  @extend %dflex;
  justify-content: center;
}
%primeiroLugar {
  @extend %dflex;
  justify-content: space-between;
}
%segundoLugar {
  @extend %dflex;
  justify-content: space-between;
}
%terceiroLugar {
  @extend %dflex;
  justify-content: space-between;
}
%outrosRanking {
  @extend %dflex;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

body {
  background-color: $preto;
}

.app {
  max-width: 640px;
  min-width: 320px;
  margin: 1rem auto;
}

button {
  border: 3px solid $secundaria;
  font-weight: 600;
  background: transparent;
  color: $secundaria;
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    border: 3px solid $secundaria;
    background-color: $secundaria;
    color: $preto;
  }
}
.pixelated-clock {
  font-size: 2rem;
  color: #4646de;
  border-radius: 5px;
  display: inline-block;
}

#seconds {
  font-family: "Press Start 2P";
  font-weight: bold;
}
li:nth-child(1) {
  color: #ffd700;
  font-size: 1.5rem;
  svg {
    display: block;
  }
}
li:nth-child(2) {
  color: #c0c0c0;
  font-size: 1.1rem;
}
li:nth-child(3) {
  color: #cd7f32;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
li {
  color: $branco;
  font-size: 0.875rem;
  svg {
    display: none;
  }
}
.message-sucesso {
  color: #33d733;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.message-erro {
  color: #e45959;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
hr.rank-linha {
  background-color: $secundaria;
  height: 0.2rem;
  border: none;
  border-radius: 24px;
}
.row {
  @extend %dflex;
}
