.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  border: 2px solid #252844;
  border-radius: 15px;
  padding: 0.4rem;
}
.text {
  padding: 1rem 0;
  padding-bottom: 0;
  h1 {
    color: $secundaria;
    @extend %dflex;
    gap: 0.6rem;
    text-transform: uppercase;
  }
  &--crown {
    font-size: 2.8rem;
    color: goldenrod;
    cursor: pointer;
    margin-left: 44%;
  }
  &--joker {
    font-size: 3rem;
    color: $secundaria;
    cursor: pointer;
  }
  &--GG {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #4646de;
    font-size: 3rem;
    &-g {
      color: #a7a7a7;
      transform: rotateY(180deg);
    }
    &-exit {
      position: relative;
      left: 1%;
      font-size: 1.5rem;
    }
  }
  &--dflex {
    @extend %dflex;
    justify-content: space-between;
    margin: 1.5rem 0;
    color: $branco;
  }
  &--tooltip {
    font-size: 0.875rem;
  }
}
